<h2>Załóż konto</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="row">
  <div class="form-group col-xs-5">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-xs-5">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> znaków minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-xs-5">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Załóż konto", class: 'btn btn-default'  %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
