<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-4">
      Adres:
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-4">
    Kategoria:
       <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, {include_blank: false}, class: 'form-control' %>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "Utwórz przepis", class: 'btn btn-default' %>
    </div>
<% end %>
