<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Adres:
    <%= f.text_field :url %>
  </div>
  <div class="field">
  Kategoria:
     <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, include_blank: false %>
  </div>

  <div class="actions">
    <%= f.submit "Utwórz przepis" %>
  </div>
<% end %>
