<% recipes.each_slice(3) do |slice| %>
  <div class="row">
    <% slice.each do |recipe| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%=link_to image_tag(recipe.image), recipe %>
          <div class="caption">
            <h3><%= recipe.title %></h3>
            <p>
              <%= link_to 'Pokaż', recipe, class: "btn btn-default" %>
              <% if user_signed_in? && current_user.favourites.where(recipe_id: recipe.id).none? %>
                <%= link_to 'Dodaj do ulubionych', add_to_favourites_path(recipe.id), method: :post, class: "btn btn-default"%>
              <% end %>
              <% if  user_signed_in? && current_user.admin == true%>
                <% link_to 'Edytuj', edit_recipe_path(recipe), class: "btn btn-default" %>
                <%= link_to 'Usuń', recipe, method: :delete, data: { confirm: 'Jesteś pewien?' }, class: "btn btn-default" %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
