<p id="notice"><%= notice %></p>

<p>
  <h1></h1>
  <%= @recipe.title %>
</p>

<p>
  <strong>Składniki:</strong>
  <% @recipe.ingredients.split(";").each do |s| %>
  <li><%= s %></li>
  <% end %>
</p>

<hr><p>
  <%= simple_format(@recipe.description) %>
</p>

<p>
  <strong>Autor:</strong>
  <%= link_to @recipe.url, @recipe.url, target:"_blank" %>
</p>
<% link_to 'Edit', edit_recipe_path(@recipe) %> 
<%= link_to 'Wróć', recipes_path %>
