

<p>
  <h1><%= @recipe.title %></h1>
</p>
<div class="row">
	<div class="col-md-4">
		<p>
		  <strong>Składniki:</strong>
		  <% @recipe.ingredients.split(";").each do |s| %>
		  <li><%= s %></li>
		  <% end %>
		</p>
	</div>
	<div class="col-md-8">
		<%=image_tag @recipe.image %>
	</div>		
</div>
<hr><p>
  <%= simple_format(@recipe.description) %>
</p>

<p>
  <strong>Autor:</strong>
  <%= link_to @recipe.url, @recipe.url, target:"_blank" %>
</p>
<a class="hidden-print" href="#" onclick="window.print();return false;">Drukuj przepis</a> 

