<h2>Zaloguj się</h2>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="form-group col-xs-5">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="form-group col-xs-5">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>

<div class="row">
  <div class="form-group col-xs-5">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
</div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Zaloguj się", class: 'btn btn-default' %>
    <%= link_to omniauth_authorize_path(resource_name, "facebook"), class: 'btn btn-default' do %>
      <%= fa_icon "facebook-official" %> Zaloguj z Facebook
    <% end %>
    <%= link_to omniauth_authorize_path(resource_name, "github"), class: 'btn btn-default' do %>
      <%= fa_icon "github" %> Zaloguj z GitHub
    <% end %>
    <%= link_to omniauth_authorize_path(resource_name, "google_oauth2"), class: 'btn btn-default' do %>
      <%= fa_icon "google" %> Zaloguj z Google
    <% end %>
  </div>
<% end %>

<%= render "devise/shared/links" %>



