<!DOCTYPE html>
<html>
  <head>
    <title>CookBook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row hidden-print">
        <div class="col-md-3">
          <%= link_to 'Strona główna', recipes_path, :class => 'btn btn-default' %>
          <a class="btn btn-default navbar-btn" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Menu
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu">
            <% Category.order("name").each do |category| %>
            <li><%= link_to "#{category.name} (#{category.recipes.count})", category %></li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-9">
          <p class="navbar-text pull-right">
            <% if user_signed_in? %>
            Zalogowany jako
            <strong><%= current_user.email %></strong>.
            <%= link_to 'Edytuj profil', edit_user_registration_path, :class => 'navbar-link' %>
            |
            <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            |
            <% if current_user.admin == true %>
            <%= link_to "Dodaj przepis", new_recipe_path %>
            |
            <% end %>
            <% if user_signed_in? %>
            <%=link_to "Ulubione przepisy (#{current_user.recipes.count})", favourites_path, :class =>'navbar-link' %>
            <% end %>
          <% else %>
            <%= link_to "Załóż konto", new_user_registration_path, :class => 'navbar-link'  %>
            |
            <%= link_to "Zaloguj się", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </div>
        </div>

        <div class="row hidden-print">
          <div class="col-md-4">
            <%= form_tag(recipes_path, :method => "get", id: "recipe-form") do %>
            <div class="form-group has-feedback">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Wyszukaj przepis" %>
              <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
            </div>
            <% end %>
          </div>
        </div>

        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <div class="row">
          <div class="col-md-12"><%= yield %></div>
        </div>
      </div>
    </body>
  </html>
